@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lora", serif;
  color: white;
}
body {
  background-color: black;
}

.app {
  width: 75%;
  margin: 24px auto;
}
